<div class="loginContainer">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form">
    <p *ngIf="showAlert" class="alert">Credentials invalid</p>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        ngModel
        required
        email
        class="form-section"
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        ngModel
        required
        password
        class="form-section"
      />
    </div>
    <input
      type="submit"
      value="Login"
      class="btn-md"
      [disabled]="!loginForm.valid"
      class="btn-md"
    />
  </form>
</div>
